// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Colors
$body-bg: white;
$white-color:white;
$black-color-13:#131313;
$black-color-2c:#2C2D33;

