// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
// Colors
/* $body-bg: white;
$white-color: white;
$gray-color-a2: #a2a3a4;
$gray-color-a9: #a9a9a9;
$black-color: black;
$black-color-13: #29ce09;
$black-color-2c: #2c2d33;
$blue-color-6e: #6e6bff;
$green-color-0d: #0ddb84;
$green-color-34: #34d178;
$red-color-ff: #ff0000;

$menu-gradient: linear-gradient(
  65.58deg,
  rgba(0, 66, 255, 0.5) -11.84%,
  rgba(235, 0, 27, 0.5) 98.75%
);
$menu-gradient-hover: linear-gradient(
  45.58deg,
  rgba(0, 66, 255, 0.7) -15.84%,
  rgba(205, 0, 27, 0.5) 98.75%
);
$border-gradient: linear-gradient(
  142.65deg,
  #822946 12.89%,
  rgba(41, 42, 184, 0.9) 21.4%,
  #6a69c2 36.15%,
  rgba(138, 123, 128, 0.85) 70.29%,
  #000000 120.25%
);
$dropdown-shadow: 0 5px 5px #6868685e

 */
