/*
!Utilities Or Helper CSS
*/

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: $body-font-family;
  font-size: $font-size-base;
  color: $white-color;
}
html,
body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $primary-font;
}
p {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img,
svg {
  max-width: 100%;
}

a {
  color: unset;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}
a,
span,
button {
  display: inline-block;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

:focus {
  outline: none !important;
}
input,
select,
textarea {
  font-weight: 400;
  font-size: 16px;
  color: #101010;
}
input:focus,
select:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid #e65581 !important;
}

textarea:focus {
  box-shadow: none !important;
  outline: none !important;
}

.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

button:focus {
  outline: none !important;
  box-shadow: none !important;
}

button {
  cursor: pointer;
  color: $white-color;
  border: none !important;
  background-color: transparent;
}

button:hover {
  border: none !important;
  background-color: transparent;
}

*::placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: rgba($white-color, 0.75);
}

*::-moz-placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: rgba($white-color, 0.75);
}
::selection {
  color: rgb(255, 255, 255);
  background: rgba(254, 33, 188, 0.978);
}
::-moz-selection {
  color: rgb(255, 255, 255);
  background: rgba(254, 33, 188, 0.978);
}

// Hide input number type right icon

/*  Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Common Class */
.AppWrapper {
  position: relative;
  width: 100%;
  min-height: 100vh;
  @include Background-Image();
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($black-color-13, 0.75);
  }
}
.container {
  @include max-media-width(575) {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }
}

/* Common Class Utilities */
.d-flex {
  display: flex;
}
.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: end;
}
.justify-content-between {
  justify-content: space-between;
}
.align-items-start {
  align-items: start;
}
.align-items-center {
  align-items: center;
}
.flex-wrap-wrap {
  flex-wrap: wrap;
}
.g-sm {
  gap: 8px 12px;
}
.g-lg {
  gap: 10px 15px;
}
.d-none {
  display: none;
}
.text-center {
  text-align: center;
}
.mt-1 {
  margin-top: 15px;
}
.my-1 {
  margin: 15px 0;
}
.mm-30 {
  @include max-media-width(767) {
    margin-top: 30px;
  }
}
.mlg-30 {
  @include max-media-width(991) {
    margin-top: 30px;
  }
}
.default_section_gap {
  margin-top: 80px;
  @include media-break-width(768, 991) {
    margin-top: 60px;
  }
  @include max-media-width(767) {
    margin-top: 50px;
  }
}
.default_btn {
  padding: 10px 24px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  background: $menu-gradient;
  &:hover {
    background: $menu-gradient-hover;
  }
}
.page_title {
  font-family: $secondery-font;
  font-weight: 600;
  font-size: 24px;
  line-height: 38px;
  color: #ffffff;
  @include max-media-width(767) {
    font-size: 20px;
  }
}

/* ============ ScrollToUP Section =========== */
.scrolltop {
  position: fixed;
  right: 70px;
  bottom: 150px;
  z-index: 100000;
  background-color: #111111;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  opacity: 0;
  visibility: hidden;

  @include max-media-width(991) {
    right: 20px;
  }

  i {
    font-size: 16px;
    color: #fec021;
  }

  &:hover {
    background-color: rgba(#111111, 0.7);
  }
}

.scroll_active {
  bottom: 60px;
  visibility: visible;
  opacity: 1;
}

// Image Zoom Effect
.img_zoom_animate {
  overflow: hidden;
  @include hover-transition();
  &:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
  }
}

// Image Bounse Effect
.bounes_animate {
  @include hover-transition();
  &:hover {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
  }
}

.circle_shape {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: #f9a135;
  @include max-media-width(767) {
    top: 5px;
    right: 7px;
  }
}

//Overlay
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  background-color: rgba($black-color-13, 0.75);
  display: none;
  &.search_overlay_active {
    @include max-media-width(991) {
      display: block;
    }
  }
}
