/*
!Utilities Or Helper CSS
*/
@import "../theme.scss";

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  @include themify($themes) {
    font-family: $body-font-family;
    font-size: $font-size-base;
    color: themed("white-color");
  }
}
html,
body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $primary-font;
}
p {
  @include themify($themes) {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: themed("white-color");
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img,
svg {
  max-width: 100%;
}

a {
  color: unset;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}
a,
span,
button {
  display: inline-block;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

:focus {
  outline: none !important;
}
input,
select,
textarea {
  @include themify($themes) {
    font-weight: 400;
    font-size: 16px;
    color: themed("black-color-2c");
  }
}
input:focus,
select:focus {
  @include themify($themes) {
    outline: none !important;
    box-shadow: none !important;
    border: 1px solid themed("red-color-ff") !important;
  }
}

textarea:focus {
  box-shadow: none !important;
  outline: none !important;
}

.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

button:focus {
  outline: none !important;
  box-shadow: none !important;
}

button {
  @include themify($themes) {
    cursor: pointer;
    color: themed("white-color");
    border: none !important;
    background-color: transparent;
  }
}

button:hover {
  border: none !important;
  background-color: transparent;
}

*::placeholder {
  @include themify($themes) {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: themed("black-color-2c");
  }
}

*::-moz-placeholder {
  @include themify($themes) {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: themed("black-color-2c");
  }
}
::selection {
  color: rgb(255, 255, 255);
  background: rgba(254, 33, 188, 0.978);
}
::-moz-selection {
  color: rgb(255, 255, 255);
  background: rgba(254, 33, 188, 0.978);
}

// Hide input number type right icon

/*  Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Common Class */
.AppWrapper {
  @include themify($themes) {
    position: relative;
    width: 100%;
    min-height: 100vh;
    @include Background-Image();
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(themed("black-color-13"), 0.75);
    }
  }
}
.container {
  @include max-media-width(575) {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }
}

/* Common Class Utilities */
.d-flex {
  display: flex;
}
.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: end;
}
.justify-content-between {
  justify-content: space-between;
}
.align-items-start {
  align-items: start;
}
.align-items-center {
  align-items: center;
}
.flex-wrap-wrap {
  flex-wrap: wrap;
}
.d-flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 7px 12px;
}
.g-sm {
  gap: 8px 12px;
}
.g-lg {
  gap: 10px 15px;
}
.d-none {
  display: none;
}
.text-center {
  text-align: center;
}
.mt-1 {
  margin-top: 15px;
}
.my-1 {
  margin: 15px 0;
}
.mt-30 {
  margin-top: 30px;
}
.mm-30 {
  @include max-media-width(767) {
    margin-top: 30px;
  }
}
.mlg-30 {
  @include max-media-width(991) {
    margin-top: 30px;
  }
}
.default_section_gap {
  margin-top: 80px;
  @include media-break-width(768, 991) {
    margin-top: 60px;
  }
  @include max-media-width(767) {
    margin-top: 50px;
  }
}
.default_btn {
  @include themify($themes) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px 24px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    background: themed("menu-gradient");
    &:hover {
      background: themed("menu-gradient-hover");
    }
  }
}
.header_area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  &.add_space {
    margin-bottom: 24px;
  }
}

.page_title {
  @include themify($themes) {
    font-family: $secondery-font;
    font-weight: 600;
    font-size: 24px;
    line-height: 38px;
    color: themed("white-color");
    @include max-media-width(767) {
      font-size: 20px;
    }
  }
}

/* ============ ScrollToUP Section =========== */
.scrolltop {
  position: fixed;
  right: 70px;
  bottom: 150px;
  z-index: 100000;
  background-color: #111111;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  opacity: 0;
  visibility: hidden;

  @include max-media-width(991) {
    right: 20px;
  }

  i {
    font-size: 16px;
    color: #fec021;
  }

  &:hover {
    background-color: rgba(#111111, 0.7);
  }
}

.scroll_active {
  bottom: 60px;
  visibility: visible;
  opacity: 1;
}

// Image Zoom Effect
.img_zoom_animate {
  overflow: hidden;
  @include hover-transition();
  &:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
  }
}

// Image Bounse Effect
.bounes_animate {
  @include hover-transition();
  &:hover {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
  }
}

.circle_shape {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: #f9a135;
  @include max-media-width(767) {
    top: 5px;
    right: 7px;
  }
}

//Overlay
.overlay {
  @include themify($themes) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    background-color: rgba(themed("black-color-13"), 0.75);
    display: none;
    &.search_overlay_active {
      @include max-media-width(991) {
        display: block;
      }
    }
  }
}

//Slider Arrow
.slider_arrow_area {
  .slider_arrow {
    @include themify($themes) {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 36px;
      height: 36px;
      border: 1.10938px solid rgba(themed("black-color-2c"), 0.9) !important;
      border-radius: 12px;
      @include hover-transition();
      &:hover {
        background-color: themed("black-color-2c");
        path {
          fill: themed("white-color");
        }
      }
    }
  }
}

//Count Down Text
.countdown_wrapper {
  margin-top: 10px;
  ul {
    li {
      @include themify($themes) {
        font-family: $secondery-font;
        font-weight: 600;
        font-size: 20px;
        line-height: 31px;
        color: themed("white-color");
      }
    }
  }
}
.expoire_msg {
  @include themify($themes) {
    font-family: $secondery-font;
    font-weight: 600 !important;
    font-size: 18px !important;
    line-height: 31px !important;
    color: themed("white-color");
    margin-top: 10px;
  }
}

.border_linear {
  @include themify($themes) {
    position: relative;
    border: 1.74px solid;
    border-image: themed("border-gradient");
    border-image-slice: 1;
    border-radius: 8px;
  }
}

// Product Item
.product_item {
  padding: 20px;
  .product_img {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 160px;
    img {
      max-height: 100%;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
    }
  }
  .product_content_area {
    margin-top: 18px;
  }
  .product_title {
    @include themify($themes) {
      font-family: $secondery-font;
      font-weight: 600;
      font-size: 18px;
      line-height: 28px;
      color: themed("white-color");
      &:hover {
        opacity: 0.9;
      }
    }
  }
  .user_info_area {
    margin-top: 12px;
    &:hover {
      opacity: 0.9;
    }
    img {
      width: 23px;
      height: 23px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }
  }
  .bit_ammount_area {
    margin-top: 12px;
    h4 {
      @include themify($themes) {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: rgba(themed("white-color"), 0.4);
      }
    }
  }
  .default_btn {
    margin-top: 20px;
    width: 100%;
    text-align: center;
  }
}

//Search Box
.search_form_area {
  @include themify($themes) {
    position: relative;
    width: 100%;
    height: 44px;
    background-color: rgba(themed("white-color"), 0.1);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;

    &.search_form_grid {
      display: grid;
      grid-template-columns: minmax(0, 1fr) minmax(0, 45px);
      align-items: center;
      gap: 5px;
      input {
        padding-right: 0;
      }
    }
    input {
      width: 100%;
      height: 100%;
      padding: 0 20px;
      color: themed("white-color");
      border: none !important;
      background-color: transparent;
    }
    .search_btn {
      width: 95%;
      height: 95%;
      border-radius: 50%;
      &:hover {
        background-color: themed("black-color-13");
      }
    }
    ::placeholder {
      font-size: 14px;
    }
  }
}

// Table
.table_wrapper {
  .tabler_inner_area {
    @include customScrollbarTable();
  }
  table {
    width: 100%;
  }
  td,
  th {
    padding: 10px 12px;
  }
  h4 {
    @include themify($themes) {
      font-size: 16px;
      font-weight: 400;
      color: themed("white-color");
      text-align: start;
      &.complete {
        color: themed("green-color-0d");
      }
      &.failed {
        color: themed("red-color-ff");
      }
      &.progress {
        color: themed("blue-color-6e");
      }
    }
  }
  th {
    h4 {
      font-weight: 600;
    }
  }

  .user_img_grid {
    display: grid;
    grid-template-columns: minmax(0, 30px) repeat(1, minmax(0, 1fr));
    align-items: center;
    gap: 8px;
    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }
  }

  .actions_list {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-wrap: wrap;
    gap: 7px 10px;
    button,
    a {
      @include themify($themes) {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 32px;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        @include hover-transition();
        &:hover {
          background-color: themed("gray-color-a9");
        }
      }
    }
  }
}

//Modal
.modal_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .modal_content_wrapper {
    @include themify($themes) {
      padding: 20px;
      max-width: 400px;
      max-height: 80vh;
      width: 100%;
      background-color: themed("black-color-13");
      box-shadow: themed("dropdown-shadow");
      @include customScrollbarInner();
    }
  }
  .action_table_modal_area {
    @include themify($themes) {
      h3 {
        font-family: $secondery-font;
        font-weight: 500;
        font-size: 20px;
        line-height: 32px;
        @include max-media-width(767) {
          font-size: 18px;
        }
      }

      .close_btn {
        svg:hover {
          path {
            fill: themed("red-color-ff");
          }
        }
      }
    }
  }
}

.form_area {
  @include themify($themes) {
    .input_row {
      display: flex;
      flex-direction: column;
      gap: 7px;
      margin-top: 20px;
      label {
        font-family: $secondery-font;
        font-size: 18px;
        font-weight: 500;
        color: themed("white-color");
      }
    }
    .input_filed,
    select {
      width: 100%;
      height: 36px;
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
      padding: 0 10px;
      border: 1px solid themed("gray-color-a9");
      &[type="file"] {
        padding-top: 5px;
      }
    }

    .preview_img_area {
      display: flex;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      overflow: hidden;
      margin-top: 10px;
      img {
        max-height: 100%;
      }
    }
    .submit_btn_row {
      margin-top: 30px;
      text-align: center;
      button {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

//Switch Box
.custom_switchbox_area {
  @include themify($themes) {
    .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
    }

    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: themed("gray-color-cc");
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: themed("white-color");
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }

    input:checked + .slider {
      background-color: themed(" blue-color-21");
    }

    input:focus + .slider {
      box-shadow: 0 0 1px themed("white-color");
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }
  }
}
