@import "../theme.scss";
.auctions_wrapper {
  .search_form_area {
    max-width: 300px;
  }
}
.favourite_wrapper {
  .search_form_area {
    max-width: 300px;
  }
}

.bitcoin_wrapper {
  @include themify($themes) {
    .bitcoing_grid {
      display: grid;
      grid-template-columns: repeat(1, minmax(0, 1fr)) minmax(0, 0.7fr);
      align-items: start;
      gap: 30px;
      @include max-media-width(991) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
      }
    }
    .bar_chart_area {
      width: 100%;
      height: 500px;
      padding: 15px;
      background-color: themed("black-color-13");
    }
  }
}
