.sidebar_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 256px;
  height: 100vh;
  padding: 24px 12px 24px 24px;
  border-right: 1.33px solid $black-color-2c;
  background-color: $black-color-13;
  @include customScrollbarInner();
  overflow: auto;
}
