.sidebar_wrapper {
  @include themify($themes) {
    position: fixed;
    top: 0;
    left: 0;
    width: 256px;
    height: 100vh;
    z-index: 1000;
    padding: 24px 12px 24px 24px;
    border-right: 1.33px solid themed("black-color-2c");
    background-color: themed("black-color-13");
  }
  @include customScrollbarInner();
  overflow: auto;
  @include max-media-width(991) {
    left: -100%;
  }
  @include max-media-width(767) {
    width: 200px;
    padding: 24px 12px;
  }
  .logo_area {
    img {
      max-width: 60px;
    }
  }
  .top_menu_list {
    margin-top: 40px;
  }
  .menu_link {
    @include themify($themes) {
      display: grid;
      grid-template-columns: minmax(0, 26px) repeat(1, minmax(0, 1fr));
      align-items: center;
      gap: 10px 14px;
      padding: 13px 18px;
      border-radius: 16.6406px;
      @include max-media-width(767) {
        grid-template-columns: minmax(0, 20px) repeat(1, minmax(0, 1fr));
        gap: 10px;
        padding: 8px 12px;
      }
      &:hover {
        background-color: themed("black-color");
      }
      &.active {
        background: themed("menu-gradient");
        svg {
          path {
            fill: themed("white-color");
          }
        }
        .menu_label {
          color: themed("white-color");
        }
      }
    }
  }
  .menu_icon {
    width: 26px;
    max-width: 26px;
    @include max-media-width(767) {
      width: 20px;
      max-width: 20px;
    }
  }
  .menu_list {
    margin-top: 5px;
  }
  .menu_label {
    @include themify($themes) {
      font-weight: 400;
      font-size: 16px;
      line-height: 21px;
      color: themed("gray-color-a2");
      @include max-media-width(767) {
        font-size: 15px;
      }
    }
  }
  .add_border {
    @include themify($themes) {
      padding-bottom: 10px;
      margin-bottom: 10px;
      border-bottom: 1.10938px solid themed("gray-color-b3");
    }
  }
}
.sidebar_active {
  left: 0;
}
