@import url("https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* Hover Transistion */
/* Custom scroll Bar */
/* Custom scroll Bar Inner */
.header_wrapper {
  position: fixed;
  top: 0;
  left: 256px;
  width: calc(100% - 256px);
  height: 80px;
  padding: 20px 25px;
  background-color: #131313;
  border-bottom: 1.33333px solid #2C2D33;
}
.header_wrapper .sidebar_icon button:hover {
  opacity: 0.9;
}
.header_wrapper .sidebar_icon svg path {
  stroke: white;
}
.header_wrapper .header_search_area {
  display: grid;
  grid-template-columns: minmax(0, 25px) minmax(0, 290px);
  align-items: center;
  gap: 10px 15px;
}
.header_wrapper .search_form_area {
  position: relative;
  width: 100%;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.header_wrapper .search_form_area.search_form_grid {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 45px);
  align-items: center;
  gap: 5px;
}
.header_wrapper .search_form_area.search_form_grid input {
  padding-right: 0;
}
.header_wrapper .search_form_area input {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  color: white;
  border: none !important;
  background-color: transparent;
}
.header_wrapper .search_form_area .search_btn {
  width: 95%;
  height: 95%;
  border-radius: 50%;
}
.header_wrapper .search_form_area .search_btn:hover {
  background-color: #131313;
}
.header_wrapper .search_form_area ::-moz-placeholder {
  font-size: 14px;
}
.header_wrapper .search_form_area :-ms-input-placeholder {
  font-size: 14px;
}
.header_wrapper .search_form_area ::placeholder {
  font-size: 14px;
}
.header_wrapper .header_info_list .icon_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
.header_wrapper .header_info_list .icon_btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.header_wrapper .header_info_list .user_btn {
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.header_wrapper .header_info_list .user_btn:hover {
  opacity: 0.8;
  background-color: transparent;
}

.dashboard_wrapper .main_content_wrapper {
  margin-left: 256px;
  padding-top: 100px;
}

.sidebar_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 256px;
  height: 100vh;
  padding: 24px 12px 24px 24px;
  border-right: 1.33px solid #2C2D33;
  background-color: #131313;
  overflow-y: scroll;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
  overflow: auto;
}
.sidebar_wrapper::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.sidebar_wrapper::-webkit-scrollbar-track {
  background: rgba(110, 107, 255, 0.5);
  border-radius: 5px;
}
.sidebar_wrapper::-webkit-scrollbar-thumb {
  background: linear-gradient(65.58deg, rgba(0, 66, 255, 0.5) -11.84%, rgba(235, 0, 27, 0.5) 98.75%);
  border-radius: 5px;
}
.sidebar_wrapper::-webkit-scrollbar-thumb:hover {
  background: #6E6BFF;
  cursor: -webkit-grab;
  cursor: grab;
}
.sidebar_wrapper .logo_area img {
  max-width: 60px;
}
.sidebar_wrapper .top_menu_list {
  margin-top: 40px;
}
.sidebar_wrapper .menu_link {
  display: grid;
  grid-template-columns: minmax(0, 26px) repeat(1, minmax(0, 1fr));
  align-items: center;
  gap: 10px 14px;
  padding: 13px 18px;
  border-radius: 16.6406px;
}
.sidebar_wrapper .menu_link:hover {
  background-color: black;
}
.sidebar_wrapper .menu_link.active {
  background: linear-gradient(65.58deg, rgba(0, 66, 255, 0.5) -11.84%, rgba(235, 0, 27, 0.5) 98.75%);
}
.sidebar_wrapper .menu_link.active svg path {
  fill: white;
}
.sidebar_wrapper .menu_link.active .menu_label {
  color: white;
}
.sidebar_wrapper .menu_icon {
  width: 26px;
  max-width: 26px;
}
.sidebar_wrapper .menu_list {
  margin-top: 5px;
}
.sidebar_wrapper .menu_label {
  font-weight: 400;
  font-size: 16.6406px;
  line-height: 21px;
  color: #A2A3A4;
}
.sidebar_wrapper .add_border {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1.10938px solid #B3B3B3;
}

/*
!Utilities Or Helper CSS
*/
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  color: white;
}

html,
body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Quicksand", sans-serif;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img,
svg {
  max-width: 100%;
}

a {
  color: unset;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

a,
span,
button {
  display: inline-block;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

:focus {
  outline: none !important;
}

input,
select,
textarea {
  font-weight: 400;
  font-size: 16px;
  color: #101010;
}

input:focus,
select:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid #e65581 !important;
}

textarea:focus {
  box-shadow: none !important;
  outline: none !important;
}

.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

button:focus {
  outline: none !important;
  box-shadow: none !important;
}

button {
  cursor: pointer;
  border: none !important;
  background-color: transparent;
}

button:hover {
  border: none !important;
}

*::-moz-placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.75);
}

*:-ms-input-placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.75);
}

*::placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.75);
}

*::-moz-placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.75);
}

::-moz-selection {
  color: rgb(255, 255, 255);
  background: rgba(254, 33, 188, 0.978);
}

::selection {
  color: rgb(255, 255, 255);
  background: rgba(254, 33, 188, 0.978);
}

::-moz-selection {
  color: rgb(255, 255, 255);
  background: rgba(254, 33, 188, 0.978);
}

/*  Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Common Class */
.AppWrapper {
  width: 100%;
  min-height: 100vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media all and (max-width: 575px) {
  .container {
    transition: 0.5s;
    padding-left: 16px !important;
    padding-right: 16px !important;
  }
}

/* Common Class Utilities */
.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: end;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-start {
  align-items: start;
}

.align-items-center {
  align-items: center;
}

.flex-wrap-wrap {
  flex-wrap: wrap;
}

.g-sm {
  gap: 8px 12px;
}

.g-lg {
  gap: 10px 15px;
}

@media all and (max-width: 767px) {
  .mm-30 {
    transition: 0.5s;
    margin-top: 30px;
  }
}

@media all and (max-width: 991px) {
  .mlg-30 {
    transition: 0.5s;
    margin-top: 30px;
  }
}

.default_section_gap {
  margin-top: 80px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .default_section_gap {
    transition: 0.5s;
    margin-top: 60px;
  }
}
@media all and (max-width: 767px) {
  .default_section_gap {
    transition: 0.5s;
    margin-top: 50px;
  }
}

/* ============ ScrollToUP Section =========== */
.scrolltop {
  position: fixed;
  right: 70px;
  bottom: 150px;
  z-index: 100000;
  background-color: #111111;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  opacity: 0;
  visibility: hidden;
}
@media all and (max-width: 991px) {
  .scrolltop {
    transition: 0.5s;
    right: 20px;
  }
}
.scrolltop i {
  font-size: 16px;
  color: #fec021;
}
.scrolltop:hover {
  background-color: rgba(17, 17, 17, 0.7);
}

.scroll_active {
  bottom: 60px;
  visibility: visible;
  opacity: 1;
}

.img_zoom_animate {
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
.img_zoom_animate:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.bounes_animate {
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
.bounes_animate:hover {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}/*# sourceMappingURL=style.css.map */