// theme.scss
$light-text-color: white;
$dark-text-color: black;
$my-class-bg-light: white;
$my-class-bg-dark: black;

// @import "../sass/theme.scss";
// theme-config.scss
$themes: (
  light: (
    my-class-bg: blue,
    text-color: $dark-text-color,
  ),
  dark: (
    my-class-bg: red,
    text-color: $light-text-color,
  ),
);
// mixin.scss
@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}
