// theme-config
$themes: (
  light: (
    body-color: white,
    white-color: #131313,
    gray-color-a2: #121212,
    gray-color-a9: #a9a9a9,
    gray-color-b3: #b3b3b3,
    gray-color-cc: rgb(235, 48, 48),
    gray-color-4a: #4a4f5b,
    black-color: rgb(182, 161, 161),
    black-color-13: #e1e1e1,
    black-color-47: #7f7f7f,
    black-color-2c: rgb(1, 1, 1),
    blue-color-6e: #6e6bff,
    blue-color-21: #2196f3,
    green-color-0d: #0ddb84,
    green-color-34: #34d178,
    red-color-ff: #f21e1e,

    //Gradient
    menu-gradient:
      linear-gradient(
        65.58deg,
        rgba(0, 66, 255, 0.5) -11.84%,
        rgba(235, 0, 27, 0.5) 98.75%
      ),
    menu-gradient-hover:
      linear-gradient(
        45.58deg,
        rgba(0, 66, 255, 0.7) -15.84%,
        rgba(205, 0, 27, 0.5) 98.75%
      ),
    border-gradient:
      linear-gradient(
        142.65deg,
        #822946 12.89%,
        rgba(41, 42, 184, 0.9) 21.4%,
        #6a69c2 36.15%,
        rgba(138, 123, 128, 0.85) 70.29%,
        #000000 120.25%
      ),
    //Shadow
    dropdown-shadow: 0 5px 5px #6868685e,
  ),
  dark: (
    body-color: white,
    white-color: white,
    gray-color-a2: #a2a3a4,
    gray-color-a9: #a9a9a9,
    gray-color-b3: #b3b3b3,
    gray-color-cc: #6e6bff,
    gray-color-4a: #4a4f5b,
    black-color: black,
    black-color-13: #131313,
    black-color-2c: #2c2d33,
    blue-color-6e: #6e6bff,
    blue-color-21: #2196f3,
    green-color-0d: #0ddb84,
    green-color-34: #34d178,
    red-color-ff: #ff0000,

    //Gradient
    menu-gradient:
      linear-gradient(
        65.58deg,
        rgba(0, 66, 255, 0.5) -11.84%,
        rgba(235, 0, 27, 0.5) 98.75%
      ),
    menu-gradient-hover:
      linear-gradient(
        45.58deg,
        rgba(0, 66, 255, 0.7) -15.84%,
        rgba(205, 0, 27, 0.5) 98.75%
      ),
    border-gradient:
      linear-gradient(
        142.65deg,
        #822946 12.89%,
        rgba(41, 42, 184, 0.9) 21.4%,
        #6a69c2 36.15%,
        rgba(138, 123, 128, 0.85) 70.29%,
        #000000 120.25%
      ),
    //Shadow
    dropdown-shadow: 0 5px 5px #6868685e,
  ),
);
// mixin
@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}

/* @import "./theme.scss"; */
// usage
/* .myClass {
  @include themify($themes) {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(themed("my-class-bg"),0.2);
    color: themed("text-color");
     display: flex;
    align-items: center;
    justify-content: center;
  }
}
 */

/*   @include themify($themes) {

  }

  themed("") */
